<h1><%= @post[:title] %></h1>
<p><%= @post[:body] %></p>
<div class="">
  <p>Best Song: <%= @song %></p>
</div>

<a href="/<%= @post[:id] %>/edit">edit</a>

<form class="" action="/<%= @post[:id] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete">

</form>
